/backup/dceditor.lpi
/backup/dceditor.lps
/backup/main.lfm
/backup/main.pas
/lib/x86_64-linux/dceditor.compiled
/lib/x86_64-linux/dceditor.o
/lib/x86_64-linux/dceditor.or
/lib/x86_64-linux/dceditor.res
/lib/x86_64-linux/main.lfm
/lib/x86_64-linux/main.o
/lib/x86_64-linux/main.ppu
